body {
  background-color: #292b30;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen','Ubunt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}