body {
  margin: 0;
  background-color: rgb(33, 33, 33);
  font-family: 'Segoe UI', 'Roboto', 'Oxygen','Ubunt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
