.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #292b30;
  padding-top: 20px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid purple;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px purple;
  background-color: #444;
  width: 90%;
  max-width: 500px;
  margin: 20px;
}

.signup-container input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-size: 16px;
}

.signup-container button {
  padding: 10px;
  color: white;
  background-color: purple;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-container .google-btn {
  background: #f9fbfd;
  color: rgb(88, 86, 86);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  height: 36px;
  padding: 0 24px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
}

.signup-container .google-btn:hover {
  box-shadow: 0 0 6px #4285F4;
}

.link {
  color: purple;
  text-decoration: none;
}

.link:hover {
  color: #a020f0;
}
