.panel {
  border-radius: 10px;
  background-color: rgb(49, 49, 49);
  max-width: 30%;
  margin: 1.5%;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.panel:hover {
  transform: scale(1.05); /* Added this block for the hover effect */
}

.container {
  position: relative;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.read-more-button {
  margin-top: 5px;
  display: inline-block;
  background-color: rgb(22, 22, 22);
  color: #ee50e6; /* black text */
  text-decoration: none;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  box-shadow: 0 0 10px #a617e4;
}

.panel-image {
  max-width: 100%; /* Adjusted from 50% to 100% for a full-width image */
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
