@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
}

.content {
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif !important;
}

h1 {
  font-size: 3.3rem;
  font-family: 'Poppins', sans-serif !important;
}

.icon {
  margin-left: 5px;
  position: relative;
  top: 2.5px;
}

p {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.4rem;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif !important;
}

.cta-button {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  padding: 0.8rem 0.8rem;
  border-radius: 0.3rem;
  border: 1px solid #ee50e6;
  color: #ee50e6; /* black text */
  cursor: pointer;
  transition-duration: 0.3s;
  text-decoration: none;
  font-family: 'Poppins', sans-serif !important;
}

.cta-button:hover {
  box-shadow: 0 0 10px #ee50e6;
}

.arrow-icon {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background-video {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  font-family: 'Poppins', sans-serif !important;
}
.cookie-consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: rgba(0,0,0,0.7);
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif !important;
  color: #ffffff;
}

.cookie-consent-popup p {
  margin: 0;
  margin-right: 1rem;
  display: inline-block;
}

.cookie-consent-popup button {
  background-color: #ee50e6;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  cursor: pointer;
  font-family: 'Poppins', sans-serif !important;
  transition-duration: 0.3s;
  border-radius: 0.3rem;
}

.cookie-consent-popup button:hover {
  background-color: #c83ad4;
  box-shadow: 0 0 10px #ee50e6;
}
