.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.content {
  margin-top: 2rem;
}

h1 {
  font-size: 3.3rem;
}

.icon
{
  margin-left: 5px;
  position: relative;
  top: 2.5px
}

p {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.cta-button {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  padding: 0.8rem 0.8rem;
  border-radius: 0.3rem;
  border: 1px solid #ee50e6;
  color: #ee50e6; /* black text */
  cursor: pointer;
  transition-duration: 0.3s;
  text-decoration: none;
}

.cta-button:hover
{
  box-shadow: 0 0 10px #ee50e6;
}

.arrow-icon {
  margin-top: 1rem;
  font-size: 2rem;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}
.background-video {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
