@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bar-container {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background: rgb(22, 22, 22);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 0 10px #a617e4;
  z-index: 3;
  font-family: 'Poppins', sans-serif;
}

.app-name {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(254, 252, 252);
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.navigation {
  display: flex;
  position: relative;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.mobile-nav {
  display: none;
  /* Additional styling for mobile dropdown menu here */
}

.nav-link {
  font-weight: bolder;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 16px;
  color: rgb(251, 249, 249);
  text-decoration: none;
  transition-duration: 0.2s;
  font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
  color: #757575;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

.bar {
  height: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px #a617e4;
  position: relative;
  margin-right: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
  padding-right: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.search-icon {
  position: absolute;
  right: 15px;
  font-size: 41px;
  color: #757575;
  cursor: pointer;
  filter: drop-shadow(0 0 5px #a617e4);
}

.dropdown {
  display: inline-block !important;
  font-family: 'Poppins', sans-serif !important;
}

.dropdown-content {
  display: none !important;
  position: absolute !important;
  border-radius: 15px !important;
  border: 1px solid #ee50e6 !important;
  background-color: rgb(22, 22, 22) !important;
  color: #f9f8f9 !important;
  font-weight: bold !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
  z-index: 1 !important;
  font-family: 'Poppins', sans-serif !important;
}

.dropdown-content p {
  font-size: 15px !important;
  font-family: 'Poppins', sans-serif !important;
}

.dropdown:hover .dropdown-content {
  display: block !important;
}

.beta-tag {
  position: relative;
  display: inline-block;
  padding: 2px 10px;
  font-size: 14px;
  color: #ee50e6;
  background-color: rgba(238, 80, 230, 0.15);
  border-radius: 10px;
  margin-left: 3px; /* Adjust the margin as needed */
  top: -2px; /* Adjust the value to move it up or down */
  font-family: 'Poppins', sans-serif;
}

.date {
  font-size: 14px;
  font-weight: bold;
  color: rgb(217, 214, 214);
  margin-left: 55px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
}

.time {
  font-size: 12px;
  color: rgb(199, 194, 194);
  margin-left: 15px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
}
.mobile-nav .dropdown-content {
  display: block;
  position: relative;
  top: 50px;
  width: 100%;
  /* Additional styling for mobile dropdown menu here */
}

.dropdown-button {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.mobile-nav .dropdown-content.open {
  display: block !important;
}
