.bar-container {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background: rgb(22, 22, 22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 0 10px #a617e4;
  z-index: 3; /* Add this line */
}

.app-name {
  margin-left: 30px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(254, 252, 252);
}

.navigation {
  display: flex;
  position: relative;
}

.nav-link {
  font-weight: bolder;
  margin-right: 40px;
  margin-left: 20px;
  font-size: 16px;
  color: rgb(251, 249, 249);
  text-decoration: none;
  transition-duration: 0.2s;
}

.nav-link:hover {
  color: #757575;
}

.bar {
  height: 3vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-right:30px; /* Add this line */
}

.search-input {
  flex-grow: 1;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
  padding-right: 40px;
}

.search-icon {
  position: absolute;
  right: 15px;
  font-size: 41px;
  color: #757575;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  border-radius: 15px;
  background-image: linear-gradient(#ee50e6, #a617e4); /* yellowish color */
  min-width: 160px;
  width: 75px; /* Add this line */
  height: 150px;
  color: #000;
  font-weight: bold;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
  font-size: 13px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.beta-tag {
  background-image: linear-gradient(#ee50e6, #a617e4); /* yellowish color */
  color: #000; /* black text */
  font-weight: 700; /* bold text */
  margin-left: 10px; /* space to the left */
  padding: 2px 10px; /* padding inside the tag */
  border-radius: 5px; /* rounded corners */
  font-size: 14px; /* font size smaller than logo text */
  vertical-align: middle; /* aligns the tag with the logo text */
}