.bar-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2b2a2a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  color: rgb(254, 252, 252);
}

.navigation {
  display: flex;
  position: relative;
  margin-right: -40%;
}

.nav-link {
  font-weight: bolder;
  margin-right: 40px;
  font-size: 16px;
  color: rgb(251, 249, 249);
  text-decoration: none;
  transition-duration: 0.2s;
}

.nav-link:hover {
  color: #757575;
}

.bar {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-right: 20px; /* Add this line */
}

.search-input {
  flex-grow: 1;
  padding: 6px 12px;
  font-size: 16px;
  border: none;
  outline: none;
  padding-right: 40px;
}

.search-icon {
  position: absolute;
  right: 15px;
  font-size: 41px;
  color: #757575;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 15px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}